<ul>
  <% @people.each_with_index do |person, i| %>
    <li>
      <%= i + 1 %>. <%= person.name %>
      <%= link_to "x", "", class: "delete btn btn-danger", data: {id: person.id} %>
    </li>
  <% end %>
</ul>
<hr>
<h1>Sign Up</h1>
<%= form_for @person do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: "" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-success" %>
<% end %>
